site_name: "CS: Программирование на Java"
theme:
  name: material
  language: ru
  features:
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra_css:
  - stylesheets/extra.css      # ← подключаем файл со стилями

nav:
  - Проекты:
      - Библиотеки Std:
        - StdDraw: Глава1/Библиотеки Std.md